.Alarm {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.Alarm span {
  font-size: 10vh;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  margin-left: 5vw;
  width: 6em;
}

.Alarm.active span,
.Alarm .alarmAmPm span.active {
  color: #a9a9a9;
}

.Alarm.inactive span,
.Alarm .alarmAmPm span.inactive {
  color: #292929;
}

.Alarm.active input {
  color: red;
}

.Alarm.inactive input {
  color: #2a0000;
}

#alarmTime {
  margin-left: 5vw;
  font-family: 'digital-7';
  text-align: right;
  font-size: 12vh;
  background-color: black;
  border: none;
  width: 2.5em;
  padding: 0;
}

.alarmAmPm {
  display: flex;
  gap: 1vw;
  margin-left: 1vw;
  cursor: pointer;
}

.alarmAmPm span {
  margin: initial;
  font-size: 5vh;
  width: initial;
}

ul.ui-timepicker-list li.ui-timepicker-disabled {
  display: none;
}
