.Clock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Clock h1 {
  font-size: 39vh;
  background-color: #1a0000;
  color: red;
  font-family: 'digital-7';
  border-radius: 3%;
  width: 2.5em;
  /* h1 are bold by default */
  font-weight: lighter;
  margin: 5vh;
}

.hidden {
  visibility: hidden;
}

.Clock .timeMode,
.Clock .amPm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

.Clock .timeMode span,
.Clock .amPm span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10vh;
  font-style: italic;
  cursor: pointer;
}

.Clock .amPm span {
  cursor: initial;
}

.active {
  color: #a9a9a9;
}

.inactive {
  color: #292929;
}